.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.add-form {
    margin-top: 20px;
}

.add-form input, .add-form select {
    /* width: 350px; */
    margin-right: 20px;
}
.add-form-textarea {
    height: 100px;
    /* margin-top: 10px; */
}
.add-form-btn {
    display: inline-block;
    height: 20px;
}